@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), system-ui, sans-serif;
  
  --color-background: #050505;
  --color-foreground: #ffffff;
  
  --color-brand: #ccff33;
  --color-brand-dark: #a3cc29;
  --color-brand-light: #d9ff66;

  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  --animate-rotate-slow: rotate 20s linear infinite;
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #ccff33;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a3cc29;
}


